body {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 700px;
  background-color: rgb(161, 161, 161);
  font-family: "Roboto", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  color: rgb(255, 255, 255);
  background-color: rgb(63, 60, 60);
}

.btn-container {
  padding: 20px;
}

#imgLogo {
  margin-right: 340px;
  width: 50px;
}

#imgTani {
  width: 700px;
  height: 180px;
}

.center-container {
  width: 700px;
  background-color: #ffffff;
}

p {
  margin: 0 auto;
  padding: 10px;
  font-size: 25px;
  color: rgb(61, 61, 61);
}

.cards-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}

.cards {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(63, 60, 60);
  border-radius: 20px;
  width: 100px;
  height: 100px;
  color: rgb(39, 39, 39);
  background-color: rgb(254, 255, 188);

  box-shadow: rgb(105, 105, 105) 5px 5px;
}

.cards:nth-child(odd) {
  background-color: rgb(236, 148, 136);
}

footer {
  font-size: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(63, 60, 60);
}
